

.contact .wrapper{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 15px;
    width: 400px;
    margin: 30px;
    border: 3px solid darkgrey;
    font-size: $p-size;
        &:focus{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
        &:active{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
}


textarea{
    font-size: $p-size;
    padding: 20px 15px;
    margin: 30px;
    border: 3px solid darkgrey;
        &:focus{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
        &:active{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
}

.submitEmail{
    margin: 0 auto;
    color: white;
    background: darkgrey;
    border: 2px solid darkgrey;
    border-radius: 0;
}
.contact{

        h1{
            margin: 30px;
            font-family: $headingFont;
            font-size: $h1-size;
        }
        h3{
            margin:0;
            font-size: $h3-size;
                    margin: 0 0 0 15px;
        }
        p {
            margin: 0;
            letter-spacing: 1.5px;
        }
     
}

form{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 50px;
}
.contactInfo{
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: space-around;
}

.info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
        i{
            font-size: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
           
                
        }
}

.emailCont{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: $fontStack;
    font-size: $h3-size;
    
    
}

form{
    font-family: $fontStack;
    font-size: $h3-size;
        
}


// .backToTop{
//     border: 2px solid orange;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-content: center;
    
//         p{
//             font-size: $p-Size;
//         }
//         i {
//             color: black;
//             font-size: 60px;
//             font-weight: lighter;
//         }

// }