

.contact .wrapper{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px;
    width: 275px;
    margin: 0 15px 0 0px;
    border: 2px solid darkgrey;
    font-size: $p-size;
        &:focus{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
        &:active{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
}

.email{
    margin: 0;
}

textarea{
    font-size: $p-size;
    padding: 20px 15px;
    margin-top: 15px;
    border: 2px solid darkgrey;
        &:focus{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
        &:active{
            border: 3px solid black;
            outline: none;
            box-shadow: none;
        }
}

.submitEmail{
    margin-top: 15px;
    width: 100%;
    color: white;
    background: darkgrey;
    border: 2px solid darkgrey;
    border-radius: 0;
}
.contact{

        h1{
            margin: 30px;
            font-family: $headingFont;
            font-size: $h1-size;
        }
        h3{
            margin:0;
            font-size: 1rem;
                    margin: 0 0 0 15px;
        }
        p {
            margin: 0;
            letter-spacing: 1.5px;
        }
     
}

form{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.contactInfo{
    display: flex;
    margin-top: 5%;
    width: 100%;
    justify-content: space-around;
}

.info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
        i{
            font-size: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
           
                
        }
}

.emailCont{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: $fontStack;
    font-size: $h3-size;
    
    
}

form{
    font-family: $fontStack;
    font-size: $h3-size;
        
}

.backUp{
    font-size: 2.8rem;
    margin-top: 3%;
    text-align: center;
        p{
            font-size: $p-size;
        }
}

