
//Variables

//Font Variables
$h1-size: 3em;
$h2-size: 2em;
$p-size: 1.3em;

$headingFont: 'Roboto', sans-serif;
$fontStack: 'Raleway', sans-serif;


.wrapper{
    // border: 5px dotted green;
    width: 80%;
    margin: 0 auto;
    display: flex;
    letter-spacing: 1px;

}

h1, h2, h3{
    font-family: $headingFont;
}

p{
    font-family: $fontStack;
    color: grey;
    font-size: 20px;
}

button{
    width: 170px;
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    border: none;
    border-radius: none;
    margin-top: 20px;
    font-family: $fontStack;
}
