
//Variables

//Font Variables
$h1-size: 3em;
$h2-size: 2em;
$p-size: 1.3em;
$h3-size: 1.6em;

$headingFont: 'Roboto', sans-serif;
$fontStack: 'Raleway', sans-serif;


body{
    background-attachment: fixed;
}
section{
    margin-top: 8%;
}

body{
    margin-top: -1px;
}
.wrapper{
    // border: 5px dotted green;
    width: 80%;
    margin: 0 auto;
    display: flex;
    letter-spacing: 1px;

}

h1, h2, h3{
    font-family: $headingFont;
}

p{
    font-family: $fontStack;
    color: grey;
    font-size: 1em;
}

button{
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
    border: none;
    border-radius: none;
}

 button:active{
            border: none;
            outline: none;
            box-shadow: none;
                
        }

button:focus{
    border: 1px solid white;
    outline:none;
}

a{
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 2px;
}

.fa{
    font-size: 2em;
}

