
.latestWork{
    display: flex;
        img{
            width: 100%;
            height: 100%;
        }
}

.latestWork .wrapper{
    justify-content: center;
    flex-direction: column;
    align-items: center;
        h2{
            margin-bottom: 5%;
            font-size: $h2-size;
            font-family: $headingFont;
            letter-spacing: 3px;
        }
}

.latestWorkOuter{
    // border: 3px solid blue;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    
    
}

.piece p{
        margin: 45px auto;
        text-align: center;
        padding: 0 10px 0 10px;
    }

.piece1 {
    // border: 5px solid cyan;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid darkgrey;
        }
        
        
}


.piece2 {
    // border: 2px solid darkgrey;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid darkgrey;
        }
        
}
.piece3 {
    border: 2px solid darkgrey;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid cyan;
        }
                
}

.piece4 {
    border: 2px solid darkgrey;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid orangered;
        }
}
.piece5 {
    // border: 5px solid orangered;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid darkgrey;
           
        } 
        
}
.piece6 {
    // border: 5px solid darkgrey;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid darkgrey;
            transition: 0;
        }
}

.piece7 {
    border: 2px solid darkgrey;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
        p{
            line-height: 1.5;
            padding: 10px;
            margin: 0;
        }
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid darkgrey;
        }
        
}
.tiny{
    font-size: 0.3rem;
    color: black;
}

.piece8 {
    // border: 5px solid darkgrey;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
        &:hover{
            border: 5px solid yellowgreen;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid darkgrey;
        }
        
}
.piece9 {
    // border: 5px solid yellowgreen;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
        &:hover{
            border: 5px solid darkgrey;
            transition: 0.4s ease-in-out;
        }
        &:active{
            border: 5px solid darkgrey;
        }
        
}



