
.services .wrapper{
    display: flex;

}


.service{
    width: 50%;
    padding: 20px;
   
    
}
.servicesOuter{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 15px 0 0 15px;
    
}


.coffee{
    display: flex;
    justify-content: space-between;
}


.servicesInner{
    display: inline-flex;
    
        h3{
            margin: 0;
            padding: 10px;
            font-size: 1.3rem;

        }
        i {
            font-size: 2rem;
            margin-right: 16px;
        }
}

