article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-attachment: fixed; }

section {
  margin-top: 8%; }

body {
  margin-top: -1px; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px; }

h1, h2, h3 {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Raleway", sans-serif;
  color: grey;
  font-size: 1em; }

button {
  text-align: center;
  text-transform: capitalize;
  font-weight: bolder;
  border: none;
  border-radius: none; }

button:active {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

button:focus {
  border: 1px solid white;
  outline: none; }

a {
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 2px; }

.fa {
  font-size: 2em; }

header {
  background-image: url("../../assets/moon2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 80vh;
  color: white;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header p {
    color: white; }
  header button {
    width: 220px;
    padding: 15px;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    border: 2px solid white;
    color: white;
    background: none; }
  header button:active {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: white;
    color: black; }
  header button:focus {
    border: 1px solid white;
    outline: none; }

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }

.logo img {
  margin-right: 5px; }

.navBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0 9% 0; }
  .navBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%; }
  .navBar li {
    list-style: none; }
  .navBar a {
    font-size: 1.4em;
    font-family: "Roboto", sans-serif;
    color: white; }

.headerContent {
  margin: auto; }
  .headerContent p {
    width: 50%;
    margin-bottom: 3%; }

h1 {
  font-size: 3em;
  margin: 0; }

h2 {
  font-size: 2em;
  margin: 0;
  letter-spacing: 2px; }

.aboutMe .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px; }

.intro {
  width: 55%;
  padding: 5px 20px 0px 20px;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -80px; }
  .intro h2 {
    padding-bottom: 10px; }
  .intro p {
    border-left: 1px solid grey;
    padding-left: 20px; }
  .intro button {
    border: 1px solid black;
    margin-top: 50px;
    width: 30%;
    padding: 15px; }
    .intro button:active {
      background-color: black;
      color: white; }

.aboutMe img {
  margin-right: 200px; }

.blackCont {
  right: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  margin-top: -35%; }

.black {
  border: 2px solid black;
  width: 660px;
  height: 600px;
  background: black; }

.promise .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.promise {
  width: 25%;
  padding: 25px;
  margin-bottom: 30px;
  background-image: url("../../assets/lightbulb3.jpg");
  background-repeat: no-repeat; }
  .promise h3 {
    text-transform: uppercase;
    margin-top: 40px; }
  .promise p {
    letter-spacing: 1px;
    line-height: 1.4;
    color: dimgrey;
    font-weight: bolder;
    padding-top: 15px; }

.skills .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px; }

.skillsIcons {
  font-size: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .skillsIcons i {
    margin: 10px;
    padding: 10px; }
  .skillsIcons i:hover {
    color: grey;
    font-size: 1.2em;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

.skills h3 {
  margin: 15px;
  text-transform: capitalize;
  color: grey; }

.skillsInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.services {
  margin: 13% 0; }

.service {
  width: 50%;
  padding: 60px; }

.servicesOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  padding: 15px 0 0 15px; }

.coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .coffee img {
    margin-left: -5px;
    overflow: hidden; }

.servicesInner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .servicesInner h3 {
    margin: 0;
    padding: 10px;
    font-size: 1.6em; }
  .servicesInner i {
    font-size: 3em;
    margin-right: 16px; }

.latestWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.latestWork .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .latestWork .wrapper h2 {
    margin-bottom: 5%;
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px; }

.latestWorkOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.piece {
  border: 2px red; }
  .piece img {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    padding: 0 20px; }

.piece1 .piece2 {
  width: 60%;
  height: 300px; }

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

input {
  padding: 15px;
  width: 400px;
  margin: 30px;
  border: 3px solid darkgrey; }
  input:focus {
    border: 3px solid black;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  input:active {
    border: 3px solid black;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

textarea {
  padding: 20px 15px;
  margin: 30px;
  border: 3px solid darkgrey; }
  textarea:focus {
    border: 3px solid black;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }
  textarea:active {
    border: 3px solid black;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.submitEmail {
  margin: 0 auto;
  color: white;
  background: darkgrey;
  border: 2px solid darkgrey;
  border-radius: 0; }

.contact h1 {
  margin: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 3em; }

.contact h3 {
  margin: 0;
  font-size: 20px;
  margin: 0 0 0 15px; }

.contact p {
  margin: 0;
  letter-spacing: 1.5px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px; }

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px; }
  .info i {
    font-size: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px; }

.emailCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 2px;
  font-family: "Raleway", sans-serif;
  font-size: 20px; }

form {
  font-family: "Raleway", sans-serif;
  font-size: 20px; }

.backToTop {
  border: 2px solid orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }
  .backToTop p {
    font-size: 18px; }
  .backToTop i {
    color: black;
    font-size: 60px;
    font-weight: lighter; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  background: darkgrey;
  margin-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  footer p {
    margin: 45px; }

footer .wrapper {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 25%; }

.icon {
  border: 2px solid #515151;
  border-radius: 50%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #515151; }

.fixedButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  position: fixed;
  bottom: 50%;
  width: 100%; }
  .fixedButton button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    height: 40px;
    border: 2px solid grey; }
